# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Test/coverage
.pytest_cache/
.coverage
.cache

# OS files
.DS_Store
Thumbs.db

# Others
*.log
